<div id="<%= dom_id computer %>">
  <p>
    <strong>Name:</strong>
    <%= computer.name %>
  </p>

  <p>
    <strong>Cpu:</strong>
    <%= computer.cpu %>
  </p>

  <p>
    <strong>Ram:</strong>
    <%= computer.ram %>
  </p>

  <p>
    <strong>Storage:</strong>
    <%= computer.storage %>
  </p>

  <p>
    <strong>Screen:</strong>
    <%= computer.screen %>
  </p>

  <p>
    <strong>Integrated gpu:</strong>
    <%= computer.integrated_gpu %>
  </p>

  <p>
    <strong>Discrete gpu:</strong>
    <%= computer.discrete_gpu %>
  </p>

  <p>
    <strong>Details url:</strong>
    <%= computer.details_url %>
  </p>

  <p>
    <strong>Apps score:</strong>
    <%= computer.apps_score %>
  </p>

  <p>
    <strong>Gaming score:</strong>
    <%= computer.gaming_score %>
  </p>

  <p>
    <strong>Movility score:</strong>
    <%= computer.movility_score %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= computer.price %>
  </p>

</div>
