
<br>
<h2>Encuentra el computador perfecto para ti!</h2>
<br>
<a href=<%= computers_path %>>
  <button type="button" class="btn btn-primary">Volver</button>
</a>
<br/><br/><br/>
<%= form_for @search, html: {class: "pure-form"} do |s| %>
<div class="field">
  <%= s.label :"uso del computador" %><br/>
  <%= s.select :use_case, options_for_select([["Uso general", "apps_score"],["Gaming", "gaming_score"],["Trabajo", "apps_score"]]), :include_blank => true%>
</div>

<div class="field">
  <%= s.label "presupuesto" %><br>
  <%= s.number_field :budget %>
</div>

<div class="actions"><%= s.submit "Buscar", class: "pure-button pure-button-primary" %></div>
<% end %>
<br>
<br>



