<br>

<h1>Resultados</h1>

<h2><%= link_to 'Volver', new_search_path %></h2>


<br>
<br>

<% if @search.search_computers.empty? %>
  <p>No se encontraron computadores</p>
<% else %>
  <% @search.search_computers.each do |c| %>

    <div class="card" style="width: 72rem;">
      <img src=<%= c.image_url %> class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= c.name %></h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Precio: $<%= c.price %></li>
        <li class="list-group-item">Procesador: <%= c.cpu %></li>
        <% if c.discrete_gpu != "None" %>
          <li class="list-group-item">Tarjeta gráfica: <%= c.discrete_gpu %></li>
        <% else %>
          <li class="list-group-item">Tarjeta gráfica: <%= c.integrated_gpu %></li>
        <% end %>
        <li class="list-group-item">Almacenamiento: <%= c.storage %></li>
        <li class="list-group-item">Pantalla: <%= c.screen %></li>
      </ul>
      <div class="card-body">
        <a href=<%= c.details_url %> class="card-link">Ver donde comprar</a>
      </div>
    </div>
    <br/><br/>


  <% end %>
<% end %>


